<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>About Us - Blindness in Malaysia</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i,600,600i">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.0/css/all.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.css">
    <link rel="stylesheet" href="assets/css/smoothproducts.css">
</head>
<body id="page-top">
    <nav class="navbar navbar-light navbar-expand-lg fixed-top bg-white clean-navbar">
        <div class="container">
            <i class="fas fa-hand-holding-heart"></i><a class="navbar-brand logo" href="index.html">Blindness in Malaysia</a><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item" role="presentation"><a class="nav-link" href="index.html">Home</a></li>
                    <li class="nav-item dropdown">
                        <a class="dropdown-toggle nav-link" data-toggle="dropdown" aria-expanded="false" href="#">Statistics</a>
                        <div class="dropdown-menu" role="menu">
                            <a class="dropdown-item" role="presentation" href="stats-handicaps-malaysia.html">Handicaps in Malaysia</a>
                            <a class="dropdown-item" role="presentation" href="stats-handicaps-schools-compare.html">Special Education Schools<br></a>
                            <a class="dropdown-item" role="presentation"href="stats-handicaps-gmap.html">Schools, Centres, Workshop<br></a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="dropdown-toggle nav-link" data-toggle="dropdown" aria-expanded="false" href="#">Information</a>
                        <div class="dropdown-menu" role="menu">
                            <a class="dropdown-item" role="presentation" href="info-page1.html">Types of Vision</a>
                            <a class="dropdown-item" role="presentation" href="info-page2.html">Symptoms &amp; Causes<br></a>
                            <a class="dropdown-item" role="presentation"href="info-page3.html">Diagnosis &amp; Treatment<br></a>
                            <a class="dropdown-item" role="presentation" href="info-page4.html">Visual Impairment (MY)<br></a>
                        </div>
                    </li>
                    <li class="nav-item" role="presentation"><a class="nav-link active" href="about-us.html">About Us</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <main class="page">
        <section class="clean-block about-us">
            <div class="container">
                <div class="block-heading">
                    <img class="rounded img-fluid figure-img" src="assets/img/teamlogo.png">
                    <h2 class="text-info" style="font-size: 64px;">Group 10</h2>
                    <p>About Us</p>
                </div>
                <div class="row justify-content-center" style="padding-bottom: 20px;">
                    <div class="col-sm-6 col-lg-4">
                        <div class="card clean-card text-center">
                            <img class="card-img-top w-100 d-block" src="assets/img/darel.jpg">
                            <div class="card-body info">
                                <h4 class="card-title">Darel Low</h4>
                                <h5 class="card-subtitle">Role: Project Leader<br></h5>
                                <p class="card-text">Responsible for keeping track of the project timeline and monitor the task progression of team members <br></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-4">
                        <div class="card clean-card text-center">
                            <img class="card-img-top w-100 d-block" src="assets/img/debin.jpg">
                            <div class="card-body info">
                                <h4 class="card-title">Lee De Bin</h4>
                                <h5 class="card-subtitle">Role:&nbsp;Primary Backend Programmer&nbsp;<br></h5>
                                <p class="card-text">Responsible to develop and follow the project technical requirements&nbsp;such as transforming datasets.<br></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-sm-6 col-lg-4">
                        <div class="card clean-card text-center">
                            <img class="card-img-top w-100 d-block" src="assets/img/wei%20ran.png">
                            <div class="card-body info">
                                <h4 class="card-title">Chan Wei Ran<br></h4>
                                <h5 class="card-subtitle">Role: Backend Programmer<br></h5>
                                <p class="card-text">Responsible for assisting the primary programmer &amp;&nbsp;provide a second solution or perspective during the development.<br></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-4">
                        <div class="card clean-card text-center">
                            <img class="card-img-top w-100 d-block" src="assets/img/alan.jpg">
                            <div class="card-body info">
                                <h4 class="card-title">Lee Hao Xi<br></h4>
                                <h5 class="card-subtitle">Role:&nbsp; Frontend Programmer &amp; Tester<br></h5>
                                <p class="card-text">Responsible for designing and structuring web page layouts, graphic user interfaces, and web navigational assistance.<br></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <footer class="page-footer" style="padding: 0;">
        <div class="clean-block add-on social-icons">
            <div class="icons">
                <div class="text-center my-auto"><span>Copyright © Group-10 2020</span></div>
            </div>
        </div>
    </footer><a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.js"></script>
    <script src="assets/js/smoothproducts.min.js"></script>
    <script src="assets/js/theme.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.js"></script>
</body>
</html>