<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Blindness Statistics Website</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i,600,600i">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.0/css/all.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="assets/fonts/fontawesome5-overrides.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.css">
    <link rel="stylesheet" href="assets/css/smoothproducts.css">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/5.0.0/mdb.min.js"></script>
    <script src="https://kit.fontawesome.com/468c51f8b5.js" crossorigin="anonymous"></script>
</head>
<body id="page-top">
    <nav class="navbar navbar-light navbar-expand-lg fixed-top bg-white clean-navbar">
        <div class="container">
            <a class="navbar-brand logo" href="index.html" style="align-items: center;">
                <i class="fa-solid fa-eye fa-pull-left" style="color: #22a7f0; font-size: 35px"></i>
                BlindCare
            </a>
            <button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1">
                <span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item" role="presentation"><a class="nav-link active" href="index.html">Home</a></li>
                    <li class="nav-item dropdown">
                        <a class="dropdown-toggle nav-link" data-toggle="dropdown" aria-expanded="false" href="#">Statistics</a>
                        <div class="dropdown-menu" role="menu">
                            <a class="dropdown-item" role="presentation" href="stats-handicaps-malaysia.html">No of Malaysian Handicaps</a>
                            <a class="dropdown-item" role="presentation" href="stats-handicaps-schools-compare.html">No of Special Education Schools<br></a>
                            <a class="dropdown-item" role="presentation"href="stats-handicaps-gmap.html">Locate Nearest Help</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="dropdown-toggle nav-link" data-toggle="dropdown" aria-expanded="false" href="#">Information</a>
                        <div class="dropdown-menu" role="menu">
                            <a class="dropdown-item" role="presentation" href="info-page1.html">Types of Vision</a>
                            <a class="dropdown-item" role="presentation" href="info-page2.html">Symptoms &amp; Causes<br></a>
                            <a class="dropdown-item" role="presentation"href="info-page3.html">Diagnosis &amp; Treatment<br></a>
                            <a class="dropdown-item" role="presentation" href="info-page4.html">Visual Impairment (MY)<br></a>                     
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <main class="page landing-page">
        <section class="clean-block clean-blog-list dark">
            <div class="container">
                <div class="block-heading">
                    <h2 class="text-info" style="font-size: 64px;">Group 10</h2>
                    <p> </p>
                </div>
                <div class="block-content">
                    <div class="clean-blog-post">
                        <div class="row">
                            <div class="col-lg-5 align-self-center"><img class="rounded img-fluid" src="assets/img/visionPage(2).jpg"></div>
                            <div class="col-lg-7">
                                <h2 style="margin-top: 15px;"><strong>Types of Vision</strong><br></h2>
                                <p style="text-align: justify; margin-top: 10px;">
                                    The eyes are complex organs, one of many parts that must work together to produce a clear vision. Researchers have found that certain nutrients and vitamins, can reduce the risk of certain eye diseases, including macular
                                    degeneration and cataracts.<br>
                                </p>
                                <div class="row" style="justify-content: right; padding: 0px 15px">
                                    <a href="info-page1.html" style="color: white; background-color:#22313f; border:none; padding:7.5px; border-radius: 0.25rem;" 
                                    onmouseover="this.style.backgroundColor='#22a7f0';" onmouseout="this.style.backgroundColor='#22313f';">Read More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="clean-blog-post">
                        <div class="row">
                            <div class="col-lg-5 align-self-center"><img class="rounded img-fluid" src="assets/img/s&c(1).jpg"></div>
                            <div class="col-lg-7">
                                <h2 style="margin-top: 15px;"><strong>Symptoms &amp; Causes&nbsp;</strong></h2>
                                <p style="text-align: justify; margin-top: 10px;">
                                    Most people experience eye problems from time to time, and vision problems tend to increase with age. Many of these problems are minor and don’t last too long. But there are some serious eye problems that can cause major
                                    damage to the eyes, including a permanent loss of vision.<br>
                                </p>
                                <div class="row" style="justify-content: right; padding: 0px 15px">
                                    <a href="info-page3.html" style="color: white; background-color:#22313f; border:none; padding:7.5px; border-radius: 0.25rem;" 
                                    onmouseover="this.style.backgroundColor='#22a7f0';" onmouseout="this.style.backgroundColor='#22313f';">Read More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="clean-blog-post">
                        <div class="row">
                            <div class="col-lg-5 align-self-center"><img class="rounded img-fluid" src="assets/img/d&t(2).jpg"></div>
                            <div class="col-lg-7">
                                <h2 style="margin-top: 15px;"><strong>Diagnosis &amp; Treatment</strong></h2>
                                <p style="text-align: justify; margin-top: 10px;">
                                    Reading an eye chart one eye at a time is the standard way to measure visual acuity, and visual field testing measures the size and location of blind spots in the vision. Both tests are subjective and require patient cooperation
                                    and a minimum amount of vision remaining to be able to take the tests.
                                </p>
                                <div class="row" style="justify-content: right; padding: 0px 15px">
                                    <a href="info-page2.html" style="color: white; background-color:#22313f; border:none; padding:7.5px; border-radius:  0.25rem;" 
                                    onmouseover="this.style.backgroundColor='#22a7f0';" onmouseout="this.style.backgroundColor='#22313f';">Read More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="clean-blog-post">
                        <div class="row">
                            <div class="col-lg-5 align-self-center"><img class="rounded img-fluid" src="assets/img/msia(3).jpg"></div>
                            <div class="col-lg-7">
                                <h2 style="margin-top: 15px;"><strong>Estimates of visual impairment and its causes in Malaysia</strong><br></h2>
                                <p style="text-align: justify; margin-top: 10px;">
                                    In view of the scarcity of prevalence data for visual impairment and  , this study aims to estimate the prevalence and causes of visual impairment (VI) in the elderly, using Rapid Assessment of Avoidable
                                    Blindness (RAAB) survey technique.
                                </p>
                                <div class="row" style="justify-content: right; padding: 0px 15px">
                                    <a href="info-page4.html" style="color: white; background-color:#22313f; border:none; padding:7.5px; border-radius: 0.25rem;" 
                                    onmouseover="this.style.backgroundColor='#22a7f0';" onmouseout="this.style.backgroundColor='#22313f';">Read More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <footer class="page-footer" style="padding: 0;">
        <div class="clean-block add-on social-icons">
            <div class="icons">
                <div class="text-center my-auto"><span>Copyright © Group-10 2020</span></div>
            </div>
        </div>
    </footer><a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.js"></script>
    <script src="assets/js/smoothproducts.min.js"></script>
    <script src="assets/js/theme.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.js"></script>
</body>
</html>
