<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Blindness Statistics Website</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i,600,600i">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.0/css/all.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.css">
    <link rel="stylesheet" href="assets/css/smoothproducts.css">
    <script src="https://kit.fontawesome.com/468c51f8b5.js" crossorigin="anonymous"></script>
</head>
<body id="page-top">
    <nav class="navbar navbar-light navbar-expand-lg fixed-top bg-white clean-navbar">
        <div class="container">
            <a class="navbar-brand logo" href="index.html">
                <i class="fa-solid fa-eye fa-pull-left" style="color: #22a7f0; font-size: 35px"></i>
                BlindCare
            </a><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item" role="presentation"><a class="nav-link" href="index.html">Home</a></li>
                    <li class="nav-item dropdown">
                        <a class="dropdown-toggle nav-link" data-toggle="dropdown" aria-expanded="false" href="#">Statistics</a>
                        <div class="dropdown-menu" role="menu">
                            <a class="dropdown-item" role="presentation" href="stats-handicaps-malaysia.html">No of Malaysian Handicaps</a>
                            <a class="dropdown-item" role="presentation" href="stats-handicaps-schools-compare.html">No of Special Education Schools<br></a>
                            <a class="dropdown-item" role="presentation"href="stats-handicaps-gmap.html">Locate Nearest Help</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="dropdown-toggle nav-link nav-link active" data-toggle="dropdown" aria-expanded="false" href="#"><strong>Information</strong></a>
                        <div class="dropdown-menu" role="menu">
                            <a class="dropdown-item" role="presentation" href="info-page1.html">Types of Vision</a>
                            <a class="dropdown-item" role="presentation" href="info-page2.html">Symptoms &amp; Causes<br></a>
                            <a class="dropdown-item" role="presentation"href="info-page3.html">Diagnosis &amp; Treatment<br></a>
                            <a class="dropdown-item" role="presentation" href="info-page4.html">Visual Impairment (MY)<br></a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <main class="page blog-post">
        <section class="clean-block clean-post dark">
            <div class="container">
                <div class="block-content">
                    <div class="post-image" style="background-image:url(&quot;assets/img/s&amp;c(2).jpg&quot;);"></div>
                    <div class="post-body">
                        <h2><strong>Overview</strong></h2>
                        <p>Blindness is the inability to see anything, including light.</p>
                        <p>If you’re partially blind, you have limited vision. For example, you may have blurry vision or the inability to distinguish the shapes of objects. Complete blindness means you can’t see at all.</p>
                        <p>Legal blindness refers to vision that’s highly compromised. What a person with regular vision can see from 200 feet away, a legally blind person can see from only 20 feet away.</p>
                        <p>
                            Most people experience eye problems from time to time, and vision problems tend to increase with age. Many of these problems are minor and don’t last too long. But there are some serious eye problems that can cause major damage
                            to the eyes, including a permanent loss of vision.
                        </p>
                        <p>Seek medical attention right away if you suddenly lose the ability to see. Have someone bring you to the emergency room for treatment. Don’t wait for your vision to return.</p><h2><strong>What are the symptoms of blindness?</strong></h2>
                        <p>If you’re completely blind, you see nothing. If you’re partially blind, you might experience the following symptoms:</p>
                        <ul>
                            <li>cloudy vision</li>
                            <li>an inability to see shapes</li>
                            <li>seeing only shadows</li>
                            <li>poor night vision</li>
                            <li>tunnel vision</li>
                        </ul>
                        <h3><strong>Symptoms of blindness in infants</strong></h3>
                        <p>Your child’s visual system begins to develop in the womb. It doesn’t fully form until about 2 years of age.</p>
                        <p>By 6 to 8 weeks of age, your baby should be able to fix their gaze on an object and follow its movement. By 4 months of age, their eyes should be properly aligned and not turned inward or outward.</p>
                        <div class="row">
                            <div class="col">
                                <p>The symptoms of visual impairment in young children can include:</p>
                                <ul>
                                    <li>constant eye rubbing</li>
                                    <li>an extreme sensitivity to light</li>
                                    <li>poor focusing</li>
                                    <li>chronic eye redness</li>
                                    <li>chronic tearing from their eyes</li>
                                    <li>a white instead of black pupil</li>
                                    <li>poor visual tracking, or trouble following an object with their eyes</li>
                                    <li>abnormal eye alignment or movement after 6 months of age</li>
                                </ul>
                            </div>
                            <div class="col-md-6 text-center align-self-center">
                                <figure class="figure">
                                    <img class="rounded img-fluid figure-img" src="assets/img/s&c(7).jpg">
                                    <figcaption class="figure-caption text-center">Child’s visual system&nbsp;doesn’t fully form until about 2 years of age</figcaption>
                                </figure>
                            </div>
                        </div><h2><strong>What causes blindness?</strong></h2>
                        <p>The following eye diseases and conditions can cause blindness:</p>
                        <ul>
                            <li>Glaucoma refers to different eye conditions that can damage your optic nerve, which carries visual information from your eyes to your brain.</li>
                            <li>Macular degeneration destroys the part of your eye that enables you to see details. It usually affects older adults.</li>
                            <li>Cataracts cause cloudy vision. They’re more common in older people.</li>
                            <li>A lazy eye can make it difficult to see details. It may lead to vision loss.</li>
                            <li>Optic neuritis is inflammation that can cause temporary or permanent vision loss.</li>
                            <li>Retinitis pigmentosa refers to damage of the retina. It leads to blindness only in rare cases.</li>
                            <li>Tumors that affect the retina or optic nerve can also cause blindness.</li>
                        </ul>
                        <p>Blindness is a potential complication if you have diabetes or have a stroke. Other common causes of blindness include:</p>
                        <ul>
                            <li>birth defects</li>
                            <li>eye injuries</li>
                            <li>complications from eye surgery</li>
                        </ul>
                        <div class="row">
                            <div class="col-md-6 text-center align-self-center">
                                <figure class="figure">
                                    <img class="rounded img-fluid figure-img" src="assets/img/s&c(8).jpg">
                                    <figcaption class="figure-caption">Blue eye baby</figcaption>
                                </figure>
                            </div>
                            <div class="col">
                                <h3>Causes of blindness in infants</h3>
                                <p>The following conditions can impair vision or cause blindness in infants:</p>
                                <ul>
                                    <li>infections, such as pink eye</li>
                                    <li>blocked tear ducts</li>
                                    <li>surgery</li>
                                    <li>cataracts</li>
                                    <li>strabismus (crossed eyes)</li>
                                    <li>amblyopia (lazy eye)</li>
                                    <li>ptosis (droopy eyelid)</li>
                                    <li>congenital glaucoma</li>
                                    <li>retinopathy of prematurity (ROP), which occurs in premature babies when the blood vessels that supply their retina aren’t fully developed</li>
                                    <li>visual inattention, or delayed development of your child’s visual system</li>
                                </ul>
                            </div>
                        </div><h3>Who’s at risk for blindness?</h3>
                        <p>The following categories of people are at risk for blindness:</p>
                        <ul>
                            <li>people with eye diseases, such as macular degeneration and glaucoma</li>
                            <li>people with diabetes</li>
                            <li>people who have a stroke</li>
                            <li>people undergoing eye surgery</li>
                            <li>people who work with or near sharp objects or toxic chemicals</li>
                            <li>premature babies</li>
                        </ul><span>Source: https://www.healthline.com/health/blindness</span>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <footer class="page-footer" style="padding: 0;">
        <div class="clean-block add-on social-icons">
            <div class="icons">
                <div class="text-center my-auto"><span>Copyright © Group-10 2020</span></div>
            </div>
        </div>
    </footer><a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.js"></script>
    <script src="assets/js/smoothproducts.min.js"></script>
    <script src="assets/js/theme.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.js"></script>
</body>
</html>
