<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Blindness Statistics Website</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i,600,600i">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.0/css/all.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.css">
    <link rel="stylesheet" href="assets/css/smoothproducts.css">
    <script src="https://kit.fontawesome.com/468c51f8b5.js" crossorigin="anonymous"></script>
</head>
<body id="page-top">
    <nav class="navbar navbar-light navbar-expand-lg fixed-top bg-white clean-navbar">
        <div class="container">
            <a class="navbar-brand logo" href="index.html"> 
                <i class="fa-solid fa-eye fa-pull-left" style="color: #22a7f0; font-size: 35px"></i>
                BlindCare
            </a>
            <button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item" role="presentation"><a class="nav-link" href="index.html">Home</a></li>
                    <li class="nav-item dropdown">
                        <a class="dropdown-toggle nav-link" data-toggle="dropdown" aria-expanded="false" href="#">Statistics</a>
                        <div class="dropdown-menu" role="menu">
                            <a class="dropdown-item" role="presentation" href="stats-handicaps-malaysia.html">No of Malaysian Handicaps</a>
                            <a class="dropdown-item" role="presentation" href="stats-handicaps-schools-compare.html">No of Special Education Schools<br></a>
                            <a class="dropdown-item" role="presentation"href="stats-handicaps-gmap.html">Locate Nearest Help Centres</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="dropdown-toggle nav-link nav-link active" data-toggle="dropdown" aria-expanded="false" href="#"><strong>Information</strong></a>
                        <div class="dropdown-menu" role="menu">
                            <a class="dropdown-item" role="presentation" href="info-page1.html">Types of Vision</a>
                            <a class="dropdown-item" role="presentation" href="info-page2.html">Symptoms &amp; Causes<br></a>
                            <a class="dropdown-item" role="presentation"href="info-page3.html">Diagnosis &amp; Treatment<br></a>
                            <a class="dropdown-item" role="presentation" href="info-page4.html">Visual Impairment (MY)<br></a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <main class="page blog-post">
        <section class="clean-block clean-post dark">
            <div class="container">
                <div class="block-content">
                    <div class="post-image" style="background-image:url(&quot;assets/img/d&amp;t(3).jpg&quot;);"></div>
                    <div class="post-body">
                        <h2><strong>How is blindness diagnosed?</strong><br></h2><p>
                            A thorough eye exam by an optometrist will help determine the cause of your blindness or partial loss of vision. </br>
                            Your eye doctor will administer a series of tests that measure:
                        </p><ul>
                            <li>The clarity of your vision</li>
                            <li>The function of your eye muscles</li>
                            <li>How your pupils react to light</li>
                        </ul>
                        <p>They’ll examine the general health of your eyes using a slit lamp. It’s a low-power microscope paired with a high-intensity light.</p>
                        <figure class="figure"></figure>
                        <h3><strong>Diagnosing blindness in infants</strong></h3><p>
                            A pediatrician will screen your baby for eye problems shortly after birth. At 6 months of age, have an eye doctor or pediatrician check your child again for visual acuity, focus, and eye alignment.<br /><br />The doctor will look at your baby’s eye structures
                            and see whether they can follow a light or colorful object with their eyes.<br /><br />Your child should be able to pay attention to visual stimuli by 6 to 8 weeks of age. If your child doesn’t react to light shining in their eyes or focus on colorful
                            objects by 2 to 3 months of age, have their eyes examined right away.<br /><br />Have your child’s eyes examined if you notice crossed eyes or any other symptoms of impaired vision.<br /><br />
                        </p>
                        <div class="row">
                            <div class="col-md-6">
                                <figure class="figure">
                                    <img class="rounded img-fluid figure-img" src="assets/img/d&t(1).jpg">
                                    <figcaption class="figure-caption">Glaucoma treatment</figcaption>
                                </figure>
                            </div>
                            <div class="col">
                                <h2><strong>How is blindness treated?</strong></h2>
                                <p>In some cases of vision impairment, one or more of the following may help restore vision:</p>
                                <ul>
                                    <li>eyeglasses</li>
                                    <li>contact lenses</li>
                                    <li>surgery</li>
                                    <li>medication</li>
                                </ul>
                            </div>
                        </div>
                        <p>
                            If you experience partial blindness that can’t be corrected, your doctor will provide guidance on how to function with limited vision. For example, you can use a magnifying glass to read, increase the text size on your computer,
                            and use audio clocks and audiobooks.
                        </p>
                        <p>Complete blindness requires approaching life in a new way and learning new skills. For example, you may need to learn how to:</p>
                        <ul>
                            <li>read Braille</li>
                            <li>use a guide dog</li>
                            <li>organize your home so you can easily find things and stay safe</li>
                            <li>fold money in distinct ways to distinguish bill amounts</li>
                        </ul>
                        <p>You can also consider getting some adaptive products, like a specialized smartphone, color identifier, and accessible cookware. There’s even adaptive sporting equipment, like sensory soccer balls.</p><h2><strong>What’s the long-term outlook?</strong></h2>
                        <p>A person’s long-term outlook for restoring vision and slowing vision loss is better when treatment is preventive and sought immediately.</p>
                        <p>Surgery can effectively treat cataracts. They don’t necessarily result in blindness. Early diagnosis and treatment are also important in cases of glaucoma and macular degeneration to help slow down or stop vision loss.</p><h2><strong>How can blindness be prevented?</strong></h2>
                        <p>To detect eye diseases and help prevent vision loss, get regular eye examinations. If you receive a diagnosis of certain eye conditions, such as glaucoma, treatment with medication can help prevent blindness.<br></p>
                        <p>To help prevent vision loss, the American Optometric Association recommends you have your child’s eyes examined:<br></p>
                        <ul>
                            <li>at 6 months of age</li>
                            <li>at 3 years of age</li>
                            <li>every year between 6 and 17 years old</li>
                        </ul>
                        <p>If you notice symptoms of vision loss between routine visits, make an appointment with their eye doctor immediately.<br></p><span>Source: https://www.healthline.com/health/blindness</span>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <footer class="page-footer" style="padding: 0;">
        <div class="clean-block add-on social-icons">
            <div class="icons">
                <div class="text-center my-auto"><span>Copyright © Group-10 2020</span></div>
            </div>
        </div>
    </footer><a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.js"></script>
    <script src="assets/js/smoothproducts.min.js"></script>
    <script src="assets/js/theme.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.js"></script>
</body>
</html>
