<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Blindness Statistics Website</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i,600,600i">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.0/css/all.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.css">
    <link rel="stylesheet" href="assets/css/smoothproducts.css">
    <script src="https://kit.fontawesome.com/468c51f8b5.js" crossorigin="anonymous"></script>
</head>
<body id="page-top">
    <nav class="navbar navbar-light navbar-expand-lg fixed-top bg-white clean-navbar">
        <div class="container">
            <a class="navbar-brand logo" href="index.html">
                <i class="fa-solid fa-eye fa-pull-left" style="color: #22a7f0; font-size: 35px"></i> 
                BlindCare
            </a><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item" role="presentation"><a class="nav-link" href="index.html">Home</a></li>
                    <li class="nav-item dropdown">
                        <a class="dropdown-toggle nav-link" data-toggle="dropdown" aria-expanded="false" href="#">Statistics</a>
                        <div class="dropdown-menu" role="menu">
                            <a class="dropdown-item" role="presentation" href="stats-handicaps-malaysia.html">No of Malaysian Handicapss</a>
                            <a class="dropdown-item" role="presentation" href="stats-handicaps-schools-compare.html">No of Special Education Schools<br></a>
                            <a class="dropdown-item" role="presentation"href="stats-handicaps-gmap.html">Locate Nearest Help</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="dropdown-toggle nav-link nav-link active" data-toggle="dropdown" aria-expanded="false" href="#"><strong>Information</strong></a>
                        <div class="dropdown-menu" role="menu">
                            <a class="dropdown-item" role="presentation" href="info-page1.html">Types of Vision</a>
                            <a class="dropdown-item" role="presentation" href="info-page2.html">Symptoms &amp; Causes<br></a>
                            <a class="dropdown-item" role="presentation"href="info-page3.html">Diagnosis &amp; Treatment<br></a>
                            <a class="dropdown-item" role="presentation" href="info-page4.html">Visual Impairment (MY)<br></a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <main class="page blog-post">
        <section class="clean-block clean-post dark">
            <div class="container">
                <div class="block-content">
                    <div class="post-image" style="background-image:url(&quot;assets/img/visionPage(1).jpg&quot;);"></div>
                    <div class="post-body">
                        <h2><strong>Overview</strong></h2>
                        <p>
                            The eyes are complex organs, one of many parts that must work together to produce a clear vision. Researchers have found that certain nutrients and vitamins, can reduce the risk of certain eye diseases, including macular degeneration
                            and cataracts.<br>
                        </p><h2><strong>Types of Vision</strong></h2>
                        <h4>Blindness</h4>
                        <p>
                            The word blindness is used for complete or nearly complete vision loss, which is not correctable by standard glasses, contact lenses, or medicine. Common causes of blindness are macular degeneration, infections of the cornea or
                            retina, glaucoma, traumatic injuries, diabetes, etc. The treatment and prognosis for blindness is dependent on its cause.<br>
                        </p>
                        <h4>Cataracts<br></h4>
                        <p>
                            Waterfall is an obfuscating of the eye's regular focal point, which lies behind the understudy. Most waterfalls are identified with maturing and can happen in both the eyes. Medical procedure is the best way to eliminate a waterfall
                            and is typically sheltered and viable, bringing about progress of vision. Most regular indications of a waterfall are overcast, hazy, or dim vision.<br>
                        </p>
                        <h4>Dry Eyes<br></h4>
                        <p>
                            Dry eyes is a condition wherein eyes don't create enough tears to grease up the eye surface, bringing about eye bothering and vision issues. It might be brought about by infections, maturing, drug, and eye structure issues. Manifestations
                            may incorporate tingling, foggy vision, torment or redness and is treatable by a clinical expert through solutions and greasing up eye drops.<br>
                        </p>
                        <h4>Glaucoma<br></h4>
                        <p>
                            Glaucoma is an eye infection that harms the optic nerve of the eye prompting loss of vision an even visual impairment. The infection typically influences both the eyes and is the subsequent driving reason for visual deficiency.
                            Glaucoma is additionally ordered into open-point glaucoma (OAG) and tight point glaucoma. Treatment as a rule includes eye drops, however lasers and medical procedure should likewise be possible.<br>
                        </p>
                        <h4>Hyperopia<br></h4>
                        <p>
                            Hyperopia, otherwise called farsightedness, is a typical kind of refractive blunder wherein close articles seem foggy while far off items might be seen all the more plainly. In this condition your eyes center the pictures behind
                            the retina rather than on the retina. Manifestations of hyperopia incorporate foggy vision, cerebral pains or eye fatigue.<br>
                        </p>
                        <h4>Macular Degeneration<br></h4>
                        <p>
                            Macular Degeneration, otherwise called age-related macular degeneration (AMD) is brought about by the disintegration of the macula, the light-delicate layer of tissue at the rear of the eye. The macula is answerable for focal vision
                            (straight-ahead vision). It is one of the main source of vision misfortune and visual impairment. Wet and dry are two types of Macular Degeneration.<br>
                        </p>
                        <h4>Myopia<br></h4>
                        <p>
                            Nearsightedness, otherwise called myopia and limitation, is a state of the eye where individuals can't zero in their visual perception on far-away items, causing them to seem hazy. Nearsightedness is accepted to be brought about
                            by a mix of hereditary and ecological components. Normal indications of nearsightedness incorporate squinting, eye strain and cerebral pains.<br>
                        </p>
                        <h4>Optic Neuritis<br></h4>
                        <p>
                            Optic neuritis is brought about by aggravation or demyelination of the optic nerve, which sends the picture from the retina to the cerebrum. Optic neuritis causes vision misfortune, which might be mellow or serious and may happen
                            in one or both the eyes. It doesn't generally need treatment and can mend all alone. Drugs, for example, corticosteroids, can help speed recuperation<br>
                        </p>
                        <h4>Pink Eye (Conjunctivitis)<br></h4>
                        <p>
                            Pink eye, otherwise called conjunctivitis, is an aggravation of the conjunctiva that is the straightforward film that covers the white aspect of your eye and the internal surface of your eyelids. It causes the eye to seem pink
                            or ruddy. Pink eye is normally brought about by infections, microbes, aggravations, or sensitivities.<br>
                        </p>
                        <h4>Presbyopia<br></h4>
                        <p>
                            Presbyopia is a typical vision issue that happens with age, where close to vision gets obscured, making it difficult to center while doing things like perusing, chipping away at PC, or utilizing a cell phone. It is extremely unlikely
                            to stop or opposite the ordinary maturing measure that causes presbyopia, however it very well may be remedied with eyeglasses, contact focal points or medical procedure.<br>
                        </p>
                        <h4>Strabismus<br></h4>
                        <p>
                            Strabismus, otherwise called crossed eyes or divider looked at, is a visual issue wherein the two eyes don't arrange a similar way. One eye may look straight ahead, while the other eye turns internal, outward, upward, or descending.
                            Most strabismus is caused due to inadequately comprehended neuromuscular control of eye development. Regular sorts incorporate esotropia, exotropia, hypertropia and hypotropia.<br>
                        </p><span>Source: https://www.everydayhealth.com/vision/</span>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <footer class="page-footer" style="padding: 0;">
        <div class="clean-block add-on social-icons">
            <div class="icons">
                <div class="text-center my-auto"><span>Copyright © Group-10 2020</span></div>
            </div>
        </div>
    </footer><a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.js"></script>
    <script src="assets/js/smoothproducts.min.js"></script>
    <script src="assets/js/theme.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.js"></script>
</body>
</html>
