<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Blindness Statistics Website</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i,600,600i">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.0/css/all.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.css">
    <link rel="stylesheet" href="assets/css/smoothproducts.css">
    <script src="https://kit.fontawesome.com/468c51f8b5.js" crossorigin="anonymous"></script>
</head> 
<body id="page-top">
    <nav class="navbar navbar-light navbar-expand-lg fixed-top bg-white clean-navbar">
        <div class="container">
            <a class="navbar-brand logo" href="index.html"> 
                <i class="fa-solid fa-eye fa-pull-left" style="color: #22a7f0; font-size: 35px"></i>
                BlindCare
            </a>
            <button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item" role="presentation"><a class="nav-link" href="index.html">Home</a></li>
                    <li class="nav-item dropdown">
                        <a class="dropdown-toggle nav-link" data-toggle="dropdown" aria-expanded="false" href="#">Statistics</a>
                        <div class="dropdown-menu" role="menu">
                            <a class="dropdown-item" role="presentation" href="stats-handicaps-malaysia.html">No of Malaysian Handicaps</a>
                            <a class="dropdown-item" role="presentation" href="stats-handicaps-schools-compare.html">No of Special Education Schools<br></a>
                            <a class="dropdown-item" role="presentation"href="stats-handicaps-gmap.html">Locate Nearest Help</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="dropdown-toggle nav-link nav-link active" data-toggle="dropdown" aria-expanded="false" href="#"><strong>Information</strong></a>
                        <div class="dropdown-menu" role="menu">
                            <a class="dropdown-item" role="presentation" href="info-page1.html">Types of Vision</a>
                            <a class="dropdown-item" role="presentation" href="info-page2.html">Symptoms &amp; Causes<br></a>
                            <a class="dropdown-item" role="presentation"href="info-page3.html">Diagnosis &amp; Treatment<br></a>
                            <a class="dropdown-item" role="presentation" href="info-page4.html">Visual Impairment (MY)<br></a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <main class="page blog-post">
        <section class="clean-block clean-post dark">
            <div class="container">
                <div class="block-content">
                    <div class="post-image" style="background-image: url(&quot;assets/img/msia(8).jpg&quot;);"></div>
                    <div class="post-body">
                        <h2><strong>Estimates of visual impairment and its causes from the National Eye Survey in Malaysia (NESII)</strong></h2>
                        <p>
                            Visual impairment drastically impacts a person's life, giving rise to functional and psychological issues. Widespread visual dysfunction reduces national economic growth, decreases productivity and increases healthcare costs .
                            Treatment of avoidable causes of blindness, especially cataract, has shown to improve quality of life, enhance overall health, alleviate poverty and elevate the economic status of a community. The efficient implementation and
                            evaluation of ocular health programs require population-based data on prevalence, causes of blindness and extent of ophthalmological coverage.
                        </p>
                        <p>
                            The Malaysian National Eye Survey (NES I) in 1996 reported the prevalence of blindness and low vision in Malaysia to be 0.29% and 2.44% respectively in all ages. Cataract was the major cause of bilateral blindness accounting for
                            39% of total estimated cases. A report using Data Development Analysis noted most public ophthalmological centers could increase output with existing capacity. In view of the scarcity of current prevalence data for visual impairment
                            and blindness, we embarked on the National Eye Survey II (NES II) using Rapid Assessment of Avoidable Blindness (RAAB) methodology to estimate the prevalence of visual impairment among the elderly in Malaysia.
                        </p>
                        <figure class="figure">
                            <img class="rounded img-fluid figure-img" src="assets/img/msia(6).jpg">
                            <figcaption class="figure-caption">Visual impairment radically impacts a person’s life</figcaption>
                        </figure>
                        <h4><strong>Material and methods</strong></h4>
                        <p>
                            This cross-sectional, population-based study was performed from 31st September to 31st November 2014. Ethical approval was obtained from the Medical Research and Ethics Committee of the Malaysian Ministry of Health. Malaysia was
                            divided into six administrative regions for survey purpose; Northern (Perlis, Kedah, Pulau Pinang and Perak), Eastern (Kelantan, Terengganu and Pahang), Central (Wilayah Persekutuan Kuala Lumpur, Putrajaya, Selangor and Negeri
                            Sembilan), Southern (Melaka and Johor), Sabah (State of Sabah and Wilayah Persekutuan Labuan) and Sarawak.&nbsp;
                        </p>
                        <div class="row">
                            <div class="col-md-6">
                                <figure class="figure">
                                    <img class="img-thumbnail img-fluid figure-img" src="assets/img/msia(9).jpg">
                                    <figcaption class="figure-caption">Population and states in Malaysia.</figcaption>
                                </figure>
                            </div>
                            <div class="col align-self-center">
                                <p> Each individual region had 5 teams comprising of 3 persons, namely 1 medical officer and 2 paramedical staff (or 1 paramedical staff with 1 optometrist). Both doctors and paramedical staff in the team were trained in Ophthalmology.</p>
                                <p>
                                    Each team was responsible to survey 10 randomly selected blocks, examining 50 residents aged 50 years and above. The surveys in all regions were done simultaneously. A separate RAAB was conducted in each of these 6 regions.
                                </p>
                            </div>
                        </div>
                        <p>
                            Population sampling was in accordance to RAAB methodology, which is a widely used, World Health Organization (WHO)-recommended method for population-based survey of the prevalence of visual impairment and its causes [7]. The RAAB
                            survey protocol and methodology has been described elsewhere [8,9].
                        </p>
                        <h4><strong>Discussion</strong><br></h4>
                        <p>
                            The population of elderly in Malaysia is expected to rise further and with it, the burden of age-related eye diseases such as cataract, diabetic retinopathy and glaucoma. The life expectancy at birth for 2017 in Malaysia is 74.8
                            years. This is expected to increase to 77.6 years by 2030. The NES II was the first RAAB survey in Malaysia and represented the country’s commitment towards the WHO Global Action Plan for the Prevention of Avoidable Blindness
                            and Visual Impairment with a special focus towards elderly patients.
                        </p>
                        <p>
                            NES I conducted in 1996 comprised of subjects of all ages living in randomized living quarters. The blocks were randomized through multistage sampling method. Due to different methodology and subject ages, our study outcomes were
                            not comparable to NES 1. Earlier studies indicated that 80–90% of all blindness occurred in people aged 50 and above and that the causes of blindness in this age group were a good indicator for those in the entire population.
                        </p>
                        <p>
                            Untreated cataract, which was reported to be the leading cause of blindness (39%) in 1996, remained the leading cause of blindness in the study. Uncorrected refractive error, which was noted to be the main cause of low vision in
                            the NES I was replaced by cataract in our study. NES 1 only reported overall country prevalence of visual impairment. In comparison to NES 1, the study had an advantage of giving the prevalence of visual impairment of different
                            regions in addition to the overall country prevalence.
                        </p>
                        <p>
                            The study prevalence of bilateral blindness of 1.2% was consistent with reported RAAB studies that reported the prevalence of blindness to range from 1.2% to 4.4%. The prevalence of moderate VI of 5.9% and severe VI of 1.0%, corresponded
                            to other studies, which reported the prevalence of moderate VI to range from 4.1% to 16.8% and severe VI to range from 1.1% to 4.4%. Sabah and Sarawak had the highest prevalence of visual impairment as these two regions had
                            the poorest access to ophthalmological services.
                        </p>
                        <p>
                            The age-standardized prevalence of cataract and uncorrected refractive error from the year 1990 to 2013 has been reported to decrease by 17.6% and 5.2% respectively. The study noted there was no blindness due to refractive error
                            and refractive error was not a major cause of moderate VI. This may be because the study collected data on presenting VA rather than unaided VA. Despite advances in delivery of eye care services, cataract remains the leading
                            cause of blindness in developing countries, accounting for 50% of the causes of blindness. This was confirmed in the study where untreated cataract was the commonest cause of blindness and moderate and severe VI.
                        </p>
                        <p>
                            Cataract surgical services in Malaysia has expanded more than 2-fold, with the number of public hospitals performing more than 1000 cataract surgeries per year increasing from 4 in the year 2002 to 10 in the year 2011. A global
                            survey of cataract surgical coverage noted that the CSC (persons) rate ranged from 29% to 92.8% with females getting less access to cataract surgery compared to males. The CSC of 66% to 90% was in concordance to reported literature.
                        </p>
                        <p>
                            Treatment of cataract involves surgical intervention and it has been shown that apart from accessibility and financial barriers, social factors such as low awareness, fear and cultural beliefs towards cataract surgery also influence
                            the surgical coverage outcome. This was reinforced in the study where their cataract surgical coverage was less than 70% for subjects with moderate visual impairment, and social factors represented 83.7% of the reasons patients
                            refused cataract surgery.
                        </p>
                        <p>
                            In summary, the high level of avoidable and treatable blindness in our study indicated a need to further expand and improve ophthalmological services in Malaysia, especially in the regions Sabah and Sarawak. Efforts also need to
                            be stepped up for increased patient education and awareness of ocular health to reduce the incidence of cataract surgery refusal from social causes.
                        </p><span>Source: https://www.ncbi.nlm.nih.gov/pmc/articles/PMC6019397/</span>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <footer class="page-footer" style="padding: 0;">
        <div class="clean-block add-on social-icons">
            <div class="icons">
                <div class="text-center my-auto"><span>Copyright © Group-10 2020</span></div>
            </div>
        </div>
    </footer><a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.js"></script>
    <script src="assets/js/smoothproducts.min.js"></script>
    <script src="assets/js/theme.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.js"></script>
</body>
</html>
